<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="main-container d-flex">
        <!--left side box-->
        <div class="main-headingdiv d-flex flex-row justify-content-center">
            <h1 class="main-heading">Waitlist Program-<span>Semi Hyphen</span></h1>
            </div>
            <div class="d-flex">
                <div class="left-box d-flex flex-row justify-content-start">
                    <div class="left">
                        <p class="small-text">Our Solutions</p>
                    <div class="heading2">
                        <p class="heading2text">Our Waitlist Program-</p>
                    </div>
                    <div class="frame1-heading3">
                        <p class="frame1-heading3-text">The following options for<br>whitelist capturing.</p>
                    </div>
                    <div class="smalltext d-flex">
                        <p class="smalltext-bottom">Wallet Confirmation&nbsp;.Token acquisition.&nbsp;NFT acquisition&nbsp;&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <!--right side box-->
        <div class="col-md-9 right-container p-3">
            <div class="box hover-box">
                <p>1. Join waitlist by signing with your Wallet address or with your email.</p>
                <p class="hovertext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime enim harum pariatur.</p>
            </div>
            <div class="box hover-box">
                <p>2.  Should stake 20,000 SCLX tokens.</p>
                <p class="hovertext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime enim harum pariatur.</p>
            </div>
            <div class="box hover-box">
                <p>3. Should have Scalex Bot NFT</p>
                <p class="hovertext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime enim harum pariatur.</p>
            </div>
        </div>
    </div>
    <div class="big-container">
        <div class="big-container-box">
            <div class="first-section">
                <div class="heading-sec d-flex flex-row justify-content-between align-items-start">
                    <div class="frame2box">
                        <h1 class="frame2heading">Getting Started<br>with</h1>
                        <div class="spandiv">
                            <span class="spantext">Semi Hyphen</span>
                        </div>
                    </div>
                    <div class="button1">
                        <button class="btn1">Join Waitlist</button>
                    </div>
                    <div class="icon-arrow">
                        <i class="fas fa-arrow-up arrow-side"></i>
                    </div>
                </div>
            <div>
                <div class="boxes-container d-flex flex-row justify-content-between">
                    <div class="box1">
                        <div class="icon2">
                            <img src="image.png">
                        </div>
                        <div class="swap">
                            <h1 class="heading">Swap</h1>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet,consectetur<br>
                                adipiscing elit.Ut congue vestibulum posuere.<br>
                                Vestibulum leo diam, efficiturnon felis id,<br>
                                feugiat condimentum neque.
                            </p>
                        </div>
                    </div>
                    <div class="box1">
                        <div class="icon3">
                            <i class="fa-solid fa-database dataicon"></i>
                        </div>
                        <div class="Liquidity">
                            <h1 class="heading">Liquidity</h1>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur<br>
                                 adipiscing elit. Ut congue vestibulum posuere.<br>
                                 Vestibulum leo diam.</p>
                        </div>
                    </div>
                    <div class="box1">
                        <div class="icon3">
                            <i class="fa-solid fa-phone bridge"></i>
                        </div>
                        <div class="Bridge">
                            <h1 class="heading">Bridge</h1>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet,consectetur<br>
                                adipiscing elit.Ut congue vestibulum posuere.<br>
                                Vestibulum leo diam, efficiturnon felis id,<br>
                                feugiat condimentum neque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-container">
            <div class="heading3">
                <h1 class="headingtext">Join Our <span>Community</span></h1>
            </div>
            <div class="content">
                <h1 class="signup">Sign Up and Follow Our<br>
                    Community Pages</h1>
            </div>
            <div class="contact-section d-flex">
                <div class="button-section d-flex">
                    <div class="icons">
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                    <div class="twitter-div">
                        <h3 class="twitter-heading">Twitter</h3>
                    </div>
                    <div class="arrow-div">
                        <i class="fas fa-arrow-up arrowup"></i>
                    </div>   
                </div>
                <div class="button-section d-flex">
                    <div class="icons">
                        <i class="fa-brands fa-telegram"></i>
                    </div>
                    <div class="telegram-div">
                        <h3 class="twitter-heading">Telegram</h3>
                    </div>
                    <div class="arrow-div">
                        <i class="fas fa-arrow-up arrowup"></i>
                    </div>   
                </div>
                <div class="button-section3 d-flex">
                    <div class="icons">
                        <div class="circle-div d-flex">
                            <div class="circle1-icon">
                                <i class="fa-regular fa-circle circle1"></i>
                            </div>
                            <div class="circle2-icon">
                                <i class="fa-regular fa-circle circle2"></i>
                            </div>
                            <div class="circle3-icon">
                                <i class="fa-regular fa-circle circle1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="Medium-div">
                        <h3 class="twitter-heading">Medium</h3>
                    </div>
                    <div class="arrow-div">
                        <i class="fas fa-arrow-up arrowup"></i>
                    </div>   
                </div>
            </div>
        </div>
        <div class="newsletter-section">
            <div class="middle-section d-flex">
                <div class="Newsletter-box">
                    <div class="newsletter-div">
                        <h1 class="newsletter-heading">Newsletter</h1>
                    </div>
                    <div class="Subscribe-div">
                        <p class="Subscribe-p">Subscribe to the Semi Hyphen newsletter<br>
                            to be updated with the ecosystem.</p>
                    </div>
                </div>
                <div class="email-section">
                    <div class="email-address">
                        <h4 class="email-text">Your email address</h4>
                    </div>
                    <div class="placeholder">
                        <input type="email" placeholder="" class="place-holder">
                    </div>
                    <div class="button">
                        <button class="button-class">Sign in</button>
                    </div>

                </div>
        </div>
        </div>
    </div> 
    </div>      
</body>
</html>
